global:
  resolve_timeout: 5m

route:
  group_by: ['alertname']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 15m
  receiver: default
  routes:
    - matchers:
        - severity = critical
        - action = scale-out
      receiver: autoscaler
      repeat_interval: 15m

receivers:
  - name: default
    email_configs:
      - to: jilanigharbi88@gmail.com
        from: gharbijilani001@gmail.com
        smarthost: smtp.gmail.com:587
        auth_username: gharbijilani001@gmail.com
        auth_password: foxmdtbtnnlxjxat
        require_tls: true
        send_resolved: true
        headers:
          Subject: '{% raw %}[{{ .Status | toUpper }}] {{ .CommonLabels.alertname }} — {{ .CommonAnnotations.summary }}{% endraw %}'
        text: |
          {% raw %}{{ range .Alerts }}
          Alert:    {{ .Labels.alertname }}
          Status:   {{ .Status | toUpper }}
          Server:   {{ .Labels.instance }}
          Severity: {{ .Labels.severity }}
          Message:  {{ .Annotations.summary }}
          Time:     {{ .StartsAt.Format "2006-01-02 15:04:05 UTC" }}
          {{ end }}{% endraw %}

  - name: autoscaler
    webhook_configs:
      - url: 'http://localhost:8080'
        send_resolved: false
