apiVersion: external-secrets.io/v1
kind: SecretStore
metadata:
  name: vault-backend
  namespace: guacamole
spec:
  provider:
    vault:
      server: "https://vault.dev.playsoft.io:8200"
      path: "kv-dev"
      version: "v2"
      auth:
        appRole:
          path: "jilani-approle"
          roleId: "{{ vault_approle_role_id }}"
          secretRef:
            name: vault-approle-creds
            key: secretId

---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: postgres-secret
  namespace: guacamole
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: vault-backend
    kind: SecretStore
  target:
    name: postgres-secret
  data:
    - secretKey: postgres-user
      remoteRef:
        key: jilani/guacamole-k8s
        property: postgres-user
    - secretKey: postgres-password
      remoteRef:
        key: jilani/guacamole-k8s
        property: postgres-password
    - secretKey: postgres-db
      remoteRef:
        key: jilani/guacamole-k8s
        property: postgres-db

---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: backup-s3-secret
  namespace: guacamole
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: vault-backend
    kind: SecretStore
  target:
    name: backup-s3-secret
  data:
    - secretKey: endpoint
      remoteRef:
        key: jilani/guacamole-backup
        property: s3-endpoint
    - secretKey: access-key
      remoteRef:
        key: jilani/guacamole-backup
        property: s3-access-key
    - secretKey: secret-key
      remoteRef:
        key: jilani/guacamole-backup
        property: s3-secret-key

---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: redis-secret
  namespace: guacamole
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: vault-backend
    kind: SecretStore
  target:
    name: redis-secret
  data:
    - secretKey: redis-password
      remoteRef:
        key: jilani/guacamole-k8s
        property: redis-password
